<div class="marquee__item"><span class="marquee__name">Trillium Health Partners<small>Mississauga Hospital</small></span></div>
<div class="marquee__item"><span class="marquee__name">University of Toronto<small>Temerty Faculty of Medicine</small></span></div>
<div class="marquee__item"><span class="marquee__name">Toronto Metropolitan University<small>School of Medicine</small></span></div>
<div class="marquee__item"><span class="marquee__name">Carlo Fidani Regional Cancer Centre<small>Trillium Health Partners</small></span></div>
<div class="marquee__item"><span class="marquee__name">St. Michael’s Hospital<small>Endovascular fellowship</small></span></div>
