<div class="aside-card">
  <p class="aside-card__h">Areas of care</p>
  <ul class="aside-nav">
    <li><a href="/spine-surgery/" data-nav="/spine-surgery/">Spine surgery</a></li>
    <li><a href="/brain-tumours/" data-nav="/brain-tumours/">Neuro-oncology</a></li>
    <li><a href="/cerebrovascular/" data-nav="/cerebrovascular/">Cerebrovascular</a></li>
    <li><a href="/conditions/" data-nav="/conditions/">Conditions we treat</a></li>
    <li><a href="/rapid-access/" data-nav="/rapid-access/">Rapid Access Clinic</a></li>
    <li><a href="/services/#urgent">Trauma and urgent care</a></li>
  </ul>
</div>
