<div class="aside-card aside-card--dark">
  <h2>Refer a patient</h2>
  <p>A brief referral with the relevant investigations is enough. Our office calls the patient to book.</p>
  <ul class="aside-list">
    <li><span>Fax</span> 1 (905) 228-4111</li>
    <li><span>Email</span> <a href="mailto:referrals@trilliumneurosurgery.com">Send an email</a></li>
    <li><span>Clinic</span> <a href="tel:+19052914506">(905) 291-4506</a></li>
  </ul>
  <a class="btn btn--light" href="/referrals/">Referral details</a>
</div>
